@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

/*MediaQueries*/
@media (min-width: 1500px) {
  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .div-logo{
    margin-left: 200px;
  }
  #text-booking{
    font-size: 4vw;
    margin-top: 20px;
  }
  #restaurantes-d1{
    width: 7%;
  }
  #header-marcas-foto{
    width: 1920px;
  }
  #marcas-foto-title{
    font-size: 3em;
  }
  #marcas-foto-d2{
    width: 100%;
  }
}
@media(max-width: 1499px) {
  .div-logo{
    margin-left: 40%;
  }
  #text-booking{
    font-size: 6vw;
    margin-top: 20px;
    margin-left: 30%;
    display: block;
    text-align: center;
  }
  #marcas-foto-title{
    font-size: 3em;
  }
  #marcas-foto-d2{
    width: 80%;
  }
}
@media (max-width: 550px) {
  .div-logo{
    margin-left: 150px;
  }
  #text-booking{
    display: block;
    font-size: 9vw;
    margin-top: 20px;
    margin-left: 20%;
  }
  #header-marcas-foto{
    margin-bottom: 50px;
  }
  #marcas-foto-d2{
    width: 60%;
  }
  #marcas-foto-title{
    font-size: 2.5em;
  }
}

*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #242D5C;
  overflow-x: hidden;
}

header{
  padding-top: 50px;
}

.div-logo{
  border: 5px solid white;
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

#logo{
  margin-top: 30px;
  font-family: 'PT Serif', serif;
  font-weight: 200;
  font-size: 2.7em;
  color: #E27DEB;
  text-align: center;

}

#text-booking{
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
  text-align: center;
  margin-right: 600px;
}


.d1{
  background-color: rgb(255, 255, 108);
  width: 7%;
  height: 40px;
}
.d2{
  background-color: red;
  width: 50%;
  height: 40px;
}

#restaurantes{
  margin-bottom: 50px;
}

/*Restaurantes*/
#header-restaurantes{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

#restaurantes-title{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 2.5em;
  color: rgb(255, 255, 154);
  margin: 0px 20px;
}

#restaurantes-d1{
  background-color: rgb(255, 255, 154);
  height: 40px;
}
#restaurantes-d2{
  background-color: rgb(255, 255, 154);
  width: 100%;
  height: 40px;
}
/*End Restaurantes*/


/*Diversao*/
#diversao{
  padding: 30px 0px;
}

#header-diversao{
  display: flex;
  flex-direction: row;
  margin: 50px 0px;
  width: 100%;

}

#diversao-title{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 2.5em;
  color: #E27DEB;
  margin: 0px 20px;
}

#diversao-d1{
  background-color: #E27DEB;
  width: 7%;
  height: 40px;
}
#diversao-d2{
  background-color: #E27DEB;
  width: 100%;
  height: 40px;
}
/*End Diversao*/


/*Marcas-foto*/
#marcas-foto{
  padding: 30px 0px;
}

#header-marcas-foto{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0px;
}

#marcas-foto-title{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: rgb(136, 198, 240);
}

#marcas-foto-d1{
  background-color: rgb(136, 198, 240);
  width: 7%;
  height: 40px;
}
#marcas-foto-d2{
  background-color: rgb(136, 198, 240);
  height: 40px;
  width: 72%;
}
/*End Marcas-foto*/

/*Footer*/
footer{
  background-color: #161c3a;
  padding: 20px;
}
footer p{
  text-align: center;
  font-size: 1.2em;
  color: white;
}
/*End Footer*/

.empresas{
  border-radius: 300px;
  width: 163px;
  margin-top: 10px;
  margin-left: 10px;
  transition-duration: 0.5s;
}
.empresas:hover{
  transform: translate(0px, -20px);
  box-shadow: 1px 1px 20px black;
}

.div-empresas{
  margin-left: 40px;
  transition-duration: 0.5s;
}


