@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

/*MediaQueries*/
@media (max-width: 600px) {
  .empresas{
    height: 50px;
    width: 50px;
  }
}







*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #242D5C;
}


/*Header*/
header{
  padding: 20px;
  background-color: #162FB0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  text-align: center;
}
#logo{
  color: #E27DEB;
  font-size: 4vh;
}
#text-booking{
  font-size: 8vh;
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
  text-align: center;
}


.d1{
  background-color: red;
  width: 7%;
  height: 40px;
}
.d2{
  background-color: red;
  width: 50%;
  height: 40px;
}

/*Restaurantes*/
#restaurantes{
  padding: 30px 0px;
}

#header-restaurantes{
  display: flex;
  flex-direction: row;

  margin-top: 100px;

  width: 100%;
}

#restaurantes-title{
  font-family: 'Potta One', cursive;
  font-size: 2.5em;

  color: rgb(206, 0, 0);
  margin: 0px 20px;
}

#restaurantes-d1{
  background-color: red;
  width: 7%;
  height: 40px;
}
#restaurantes-d2{
  background-color: red;
  width: 100%;
  height: 40px;
}
/*End Restaurantes*/


/*Diversao*/
#diversao{
  padding: 30px 0px;
}

#header-diversao{
  display: flex;
  flex-direction: row;

  margin-top: 100px;

  width: 100%;
}

#diversao-title{
  font-family: 'Potta One', cursive;
  font-size: 2.5em;

  color: aqua;
  margin: 0px 20px;
}

#diversao-d1{
  background-color: aqua;
  width: 7%;
  height: 40px;
}
#diversao-d2{
  background-color: aqua;
  width: 100%;
  height: 40px;
}
/*End Diversao*/


/*Marcas-foto*/
#marcas-foto{
  padding: 30px 0px;
}

#header-marcas-foto{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 100px;

  width: 100%;
}

#marcas-foto-title{
  font-family: 'Potta One', cursive;
  font-size: 2.5em;
  width: 38%;

  text-align: center;

  margin: 0px 20px;

  color: #E27DEB;
}

#marcas-foto-d1{
  background-color: #E27DEB;
  width: 7%;
  height: 40px;
}
#marcas-foto-d2{
  border: 1px solid red;
  background-color: #E27DEB;
  width: 100%;
  height: 40px;
}
/*End Marcas-foto*/

/*Empresas*/
.section-empresas{
  width: 95%;
  margin: 0px 20px;
}
.row-empresas{
  width: 95%;
  margin: auto;
}
.empresas{
  width: 700px;
  display: inline;
  border-radius: 70%;
  padding: 30px;
  margin: 10px 15px;
  background-color: white;

  /*Cricle*/
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}
/*End Empresas*/
