@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

/*MediaQueries*/
@media (min-width: 1500px) {
  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #text-booking{
    font-size: 4vw;
    margin-top: 20px;
  }
  #restaurantes-d1{
    width: 7%;
  }
  #header-marcas-foto{
    width: 1920px;
  }
  #marcas-foto-title{
    font-size: 3em;
  }
  #marcas-foto-d2{
    width: 100%;
  }
}
@media(max-width: 1499px) {
  #text-booking{
    font-size: 6vw;
    margin-top: 20px;
  }
  #marcas-foto-title{
    font-size: 3em;
  }
  #marcas-foto-d2{
    width: 80%;
  }
}
@media (max-width: 550px) {
  #text-booking{
    display: block;
    font-size: 11vw;
    margin-top: 20px;
  }
  #header-marcas-foto{
    margin-bottom: 50px;
  }
  #marcas-foto-d2{
    width: 60%;
  }
  #marcas-foto-title{
    font-size: 2.5em;
  }
}

*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #242D5C;
  overflow-x: hidden;
}

header{
  width: 75%;
  margin: auto;
  padding-top: 50px;
}

#logo{
  font-family: 'PT Serif', serif;
  font-weight: 200;
  font-size: 3em;
  color: #E27DEB;
  text-align: center;

}

#text-booking{
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
  text-align: center;
}

.logos{
  position: relative;
  top: 10px;
  right: 10px;
}

#row-empresas{
  border: 1px solid red;
}


.d1{
  background-color: red;
  width: 7%;
  height: 40px;
}
.d2{
  background-color: red;
  width: 50%;
  height: 40px;
}

/*Restaurantes*/
#header-restaurantes{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  width: 100%;
}

#restaurantes-title{
  font-family: 'Potta One', cursive;
  font-size: 2.5em;
  color: rgb(206, 0, 0);
  margin: 0px 20px;
}

#restaurantes-d1{
  background-color: red;
  height: 40px;
}
#restaurantes-d2{
  background-color: red;
  width: 100%;
  height: 40px;
}
/*End Restaurantes*/


/*Diversao*/
#diversao{
  padding: 30px 0px;
}

#header-diversao{
  display: flex;
  flex-direction: row;
  margin: 50px 0px;
  width: 100%;

}

#diversao-title{
  font-family: 'Potta One', cursive;
  font-size: 2.5em;
  color: aqua;
  margin: 0px 20px;
}

#diversao-d1{
  background-color: aqua;
  width: 7%;
  height: 40px;
}
#diversao-d2{
  background-color: aqua;
  width: 100%;
  height: 40px;
}
/*End Diversao*/


/*Marcas-foto*/
#marcas-foto{
  padding: 30px 0px;
}

#header-marcas-foto{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0px;
}

#marcas-foto-title{
  font-family: 'Potta One', cursive;
  text-align: center;
  color: #E27DEB;
}

#marcas-foto-d1{
  background-color: #E27DEB;
  width: 7%;
  height: 40px;
}
#marcas-foto-d2{
  background-color: #E27DEB;
  height: 40px;
}
/*End Marcas-foto*/







/*Empresas*/
.section-empresas{
  width: 95%;
  margin: 0px 20px;
}
.row-empresas{
  width: 95%;
  margin: auto;
}

/*
.empresas{
  border: 1px solid red;
  display: flex;
  border-radius: 70%;
  padding: 30px;
  margin: 10px 15px;
  background-color: white;
  //Cricle
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: inline-block;
  transition-duration: 0.5s;
}

.empresas:hover{
  transform: translate(0px, -20px);
  box-shadow: 5px 5px 25px rgb(0, 0, 0);
}
/*End Empresas*/





/*Footer*/
footer{
  background-color: #161c3a;
  padding: 20px;
}
footer p{
  text-align: center;
  font-size: 1.2em;
  color: white;
}
/*End Footer*/


.empresas{
  border: 1px solid red;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  transition-duration: 0.5s;
  display: inline-block;
}
.empresas:hover{
  transform: translate(0px, -20px);
  box-shadow: 5px 5px 25px rgb(0, 0, 0);
}


#logo-bullger{
  margin-top: 20px;
  padding: 20px;
}